/* Home.css */

.welcome-heading {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .connected-account {
    margin-bottom: 20px;
  }
  
  .button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .ticket-cards-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .ticket-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 150px; /* Set the width of the ticket card */
  }
  
  .ticket-image {
    width: 100%; /* Make the image width 100% of its container */
    height: 150px; /* Ensure the aspect ratio is maintained */
    max-height: 150px; /* Set the maximum height of the image */
    padding: 5px;
  }
  
  .no-tickets {
    text-align: center;
    font-size: 16px;
    color: #555;
  }
